<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout') %>
</head>

<body>
    <%-include ('loadingDiv') %>
        <%-include ('auditionModal') %>
            <div class="wrap">
                <div class="row g-3 col-6">
                    <div class="flex">
                        <div class="col-10 bb">
                            <label for="ytLink" class="form-label redStar">影片網址</label>
                            <input type="text" class="form-control" id="ytLink"
                                placeholder="https://www.youtube.com/watch?v=KKsioz-zaZY">
                        </div>
                        <div class="col-10 bb">
                            <label for="songTitle" class="form-label redStar">歌曲名稱</label>
                            <input type="text" class="form-control" id="songTitle" placeholder="說了再見">
                        </div>
                        <div class="col-8 bb">
                            <label for="theme" class="form-label">戲劇/電影</label>
                            <input type="text" class="form-control" id="theme" placeholder="海洋天堂">
                        </div>
                        <div class="col-4 bb">
                            <label for="singerName" class="form-label redStar">歌手名稱</label>
                            <input type="text" class="form-control" id="singerName" placeholder="周杰倫">
                        </div>
                        <div class="col-2 bb">
                            <label for="gender" class="form-label redStar">種類</label>
                            <select id="gender" class="form-select">
                                <option>男</option>
                                <option>女</option>
                                <option>團體</option>
                            </select>
                        </div>
                        <div class="col-2 bb">
                            <label for="songLanguage" class="form-label redStar">語系</label>
                            <select id="songLanguage" class="form-select">
                                <option>華</option>
                                <option>台</option>
                                <option>韓</option>
                                <option>英</option>
                                <option>日</option>
                                <option>粵</option>
                            </select>
                        </div>
                        <!-- <div class="col-6 bb">
                    <label for="year" class="form-label">歌曲年份</label>
                    <input type="number" min="1900" max="2100" class="form-control" id="year" placeholder="2022" value="2022">
                </div> -->
                    </div>

                    <div class="flexTime">
                        <!-- 前奏 -->
                        <div class="col-6">
                            <label for="introStart" class="form-label">前奏開始時間</label>
                            <input type="time" class="form-control col-6 areaColor" id="introStart" placeholder="">
                        </div>
                        <div class="col-6">
                            <label for="introEnd" class="form-label">前奏結束時間</label>
                            <input type="time" class="form-control col-6 areaColor" id="introEnd" placeholder="">
                        </div>
                        <!-- 主歌 -->
                        <div class="col-6">
                            <label for="verseStart" class="form-label redStar">主歌開始時間</label>
                            <input type="time" class="form-control col-6" id="verseStart" placeholder="">
                        </div>
                        <div class="col-6">
                            <label for="verseEnd" class="form-label redStar">主歌結束時間</label>
                            <input type="time" class="form-control col-6" id="verseEnd" placeholder="">
                        </div>
                        <!-- 導歌 -->
                        <div class="col-6">
                            <label for="preChorusStart" class="form-label">導歌開始時間</label>
                            <input type="time" class="form-control col-6 areaColor" id="preChorusStart" placeholder="">
                        </div>
                        <div class="col-6">
                            <label for="preChorusEnd" class="form-label">導歌結束時間</label>
                            <input type="time" class="form-control col-6 areaColor" id="preChorusEnd" placeholder="">
                        </div>
                        <!-- 副歌 -->
                        <div class="col-6">
                            <label for="chorusStart" class="form-label redStar">副歌開始時間</label>
                            <input type="time" class="form-control col-6" id="chorusStart" placeholder="">
                        </div>
                        <div class="col-6">
                            <label for="chorusEnd" class="form-label redStar">副歌結束時間</label>
                            <input type="time" class="form-control col-6" id="chorusEnd" placeholder="">
                        </div>
                        <!-- 橋梁 -->
                        <div class="col-6">
                            <label for="bridgeStart" class="form-label">Bridge開始時間</label>
                            <input type="time" class="form-control col-6 areaColor" id="bridgeStart" placeholder="">
                        </div>
                        <div class="col-6">
                            <label for="bridgeEnd" class="form-label">Bridge結束時間</label>
                            <input type="time" class="form-control col-6 areaColor" id="bridgeEnd" placeholder="">
                        </div>
                        <!-- 尾奏 -->
                        <div class="col-6">
                            <label for="outroStart" class="form-label">尾奏開始時間</label>
                            <input type="time" class="form-control col-6" id="outroStart" placeholder="">
                        </div>
                        <div class="col-6">
                            <label for="outroEnd" class="form-label">尾奏結束時間</label>
                            <input type="time" class="form-control col-6" id="outroEnd" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="flex" style="margin: 20px 0;">
                    <div style="margin-left: 10px;">
                        <input type="text" id="ytID" style="display: none;">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" style="display: none;" id="auditionBtn">
                            試聽
                        </button>
                    </div>
                    <div class="btnQuest">
                        <button type="button" class="btn btn-info" onclick="testValues()">測試資料</button>
                        <button type="button" class="btn btn-primary" onclick="createSong()">送出並試聽</button>
                        <button type="reset" class="btn btn-danger"
                            onclick='$(".form-control,.form-select").val("")'>清除輸入資料</button>
                    </div>
                </div>
                <!-- AngularJS Div-->
                <div class="col-6" id="controller" ng-app="myApp" ng-controller="Ctrl" ng-init="init()"
                    ui-i18n="{{lang}}" class="row">
                    <!-- Grid -->
                    <div class="myGrid" ui-grid="gridOptions" ui-grid-selection ui-grid-move-columns ui-grid-pagination
                        ui-grid-resize-columns ui-grid-pinning></div>
                    <!-- Grid End-->
                </div>
                <!-- AngularJS Div End-->
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
                crossorigin="anonymous"></script>
</body>
<script src="/js/guessSong.js"></script>
</html>