<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout') %>
</head>
<style>
    body {
        background-color: rgba(174, 172, 172, 0.435);
        font-family: fantasy;
    }
    .wrap {
        display: flex
    }
    .row {
        width: 500px;
        margin: 0 auto;
    }
    .bb {
        padding-bottom: 20px;
        border-bottom: 3px solid rgba(0, 0, 255, 0.189);
    }
    .myGrid {
        margin-top: 20px;
        width: 900px;
        height: 800px;
    }
</style>
<body>
    <div class="wrap">
        <div class="row g-3 col-6">
            <div class="col-12 bb">
                <label for="ytLink" class="form-label">影片網址</label>
                <input type="text" class="form-control" id="ytLink" placeholder="https://www.youtube.com/watch?v=xE1jI6vShSQ" value="https://www.youtube.com/watch?v=xE1jI6vShSQ">
            </div>
            <div class="col-8 bb">
                <label for="singerName" class="form-label">歌手名稱</label>
                <input type="text" class="form-control" id="singerName" placeholder="周杰倫" value="周杰倫">
            </div>
            <div class="col-4 bb">
                <label for="gender" class="form-label">歌手性別</label>
                <select id="gender" class="form-select">
                    <option>男</option>
                    <option>女</option>
                </select>
            </div>
            <div class="col-12">
                <label for="songTitle" class="form-label">歌曲名稱</label>
                <input type="text" class="form-control" id="songTitle" placeholder="最偉大的作品" value="最偉大的作品">
            </div>
            <div class="col-6 bb">
                <label for="songLanguage" class="form-label">歌曲語言</label>
                <select id="songLanguage" class="form-select">
                <option>華語</option>
                <option>台語</option>
                <option>韓語</option>
                <option>英語</option>
                <option>日語</option>
                <option>粵語</option>
                </select>
            </div>
            <div class="col-6 bb">
                <label for="year" class="form-label">歌曲年份</label>
                <input type="number" min="1900" max="2100" class="form-control" id="year" placeholder="2022" value="2022">
            </div>
            <!-- 前奏 -->
            <div class="col-6">
                <label for="introStart" class="form-label">前奏開始時間</label>
                <input type="time" class="form-control col-6" id="introStart" placeholder="" value="00:00">
            </div>
            <div class="col-6">
                <label for="introEnd" class="form-label">前奏結束時間</label>
                <input type="time" class="form-control col-6" id="introEnd" placeholder="" value="00:20">
            </div>
            <!-- 主歌 -->
            <div class="col-6">
                <label for="verseStart" class="form-label">主歌開始時間</label>
                <input type="time" class="form-control col-6" id="verseStart" placeholder="" value="00:21">
            </div>
            <div class="col-6">
                <label for="verseEnd" class="form-label">主歌結束時間</label>
                <input type="time" class="form-control col-6" id="verseEnd" placeholder="" value="00:50">
            </div>
            <!-- 副歌 -->
            <div class="col-6">
                <label for="chorusStart" class="form-label">副歌開始時間</label>
                <input type="time" class="form-control col-6" id="chorusStart" placeholder="" value="00:51">
            </div>
            <div class="col-6">
                <label for="chorusEnd" class="form-label">副歌結束時間</label>
                <input type="time" class="form-control col-6" id="chorusEnd" placeholder="" value="01:20">
            </div>
            <!-- 橋梁 -->
            <div class="col-6">
                <label for="bridgeStart" class="form-label">Bridge開始時間</label>
                <input type="time" class="form-control col-6" id="bridgeStart" placeholder="" value="02:30">
            </div>
            <div class="col-6">
                <label for="bridgeEnd" class="form-label">Bridge結束時間</label>
                <input type="time" class="form-control col-6" id="bridgeEnd" placeholder="" value="02:50">
            </div>
            <!-- 尾奏 -->
            <div class="col-6">
                <label for="outroStart" class="form-label">尾奏開始時間</label>
                <input type="time" class="form-control col-6" id="outroStart" placeholder="" value="03:20">
            </div>
            <div class="col-6">
                <label for="outroEnd" class="form-label">尾奏結束時間</label>
                <input type="time" class="form-control col-6" id="outroEnd" placeholder="" value="03:40">
            </div>
            <div class="col-12" style="text-align: right;">
                <button type="button" class="btn btn-primary" onclick="addSong()">儲存</button>
                <button type="reset" class="btn btn-danger">清除</button>
            </div>
        </div>

        <!-- AngularJS Div-->
        <div class="col-6" id="controller" ng-app="myApp" ng-controller="Ctrl" data-ng-init="init()"
        ui-i18n="{{lang}}" class="row">
        <!-- Select Option -->
        <!-- <div>
            <button type="button" class="btn btn-success" ng-click="getSelectedRows()">取得已勾選項目</button>
            <md-content>
                <md-datepicker ng-model="myDate" ng-change="DateChange()" md-placeholder="選擇日期"
                    md-min-date="minDate" md-max-date="maxDate" md-date-filter="DatepickerFilter">
                </md-datepicker>
            </md-content>
        </div> -->
        <!-- Select Option End-->

        <!-- Grid -->
        <div class="myGrid" ui-grid="{ data: users }" ui-grid-selection ui-grid-pagination ui-grid-move-columns
            ui-grid-resize-columns ui-grid-pinning></div>
        <!-- Grid End-->
        </div>
        <!-- AngularJS Div End-->
    </div>
</body>
<script>
    var app = angular.module("myApp", ["ui.grid"]);

    // 'ngAnimate', 'ngTouch', 'ngAria', 'ngMaterial', 'ngMessages',
    // "ui.grid", "ui.grid.pagination", 'ui.grid.pinning', 'ui.grid.autoResize', 'ui.grid.moveColumns',
    // 'ui.grid.selection', 'ui.grid.resizeColumns'
    
    app.controller("Ctrl", function ($scope, $http, $filter, uiGridConstants) {
        $scope.gridOptions = {
            enableSorting: true,
            columnDefs: [
                { field: 'name' },
                { field: 'age' },
                { field: 'location', enableSorting: false }
            ],
            onRegisterApi: function (gridApi) {
                $scope.grid1Api = gridApi;
            }
        };
        $scope.lang = 'zh-tw';
        $scope.users = [
        { name: "Madhav Sai", age: 10, location: 'Nagpur' },
        { name: "Suresh Dasari", age: 30, location: 'Chennai' },
        { name: "Rohini Alavala", age: 29, location: 'Chennai' },
        { name: "Praveen Kumar", age: 25, location: 'Bangalore' },
        { name: "Sateesh Chandra", age: 27, location: 'Vizag' }
        ];
        
    });
    
    function getVal() {
        let getVal = {};
        const $inputs = $('input,select');
            $inputs.each(function (index) {
                getVal[this.id] = this.value
                getVal.intro = { begin: getVal.introStart,end: getVal.introEnd };
                getVal.verse = { begin: getVal.verseStart,end: getVal.verseEnd };
                getVal.chorus = { begin: getVal.chorusStart,end: getVal.chorusEnd };
                getVal.bridge = { begin: getVal.bridgeStart,end: getVal.bridgeEnd };
                getVal.outro = { begin: getVal.outroStart,end: getVal.outroEnd };
            });
            let {introStart, introEnd, verseStart, verseEnd, chorusStart, chorusEnd, bridgeStart, bridgeEnd, outroStart, outroEnd, ...NewVal} = getVal;
        return NewVal;
    };
    
    async function addSong() {
        let songVal = await getVal();
        console.log("songVal: ",songVal);
        const songPost = async (songVal) => {
            return await axios.post(
                "http://192.168.10.20:3000/song",
                {
                    songVal
                },
                {
                headers: {
                    "content-type": "application/json",
                },
                }
            );
        };
    };
</script>
</html>