<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout') %>
</head>
<style>
    body {
        background-image: url('/images/bg.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-color: black;
        color: white;
        font-family: Microsoft JhengHei;
        font-weight: 1000;
    }
    .flex {
        display: flex;
        justify-content: space-between;
        margin-left: 7px;
    }
    .flexTime {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 150px;
        margin-left: 7px;
    }
    .gridFlex {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
    }
    .row {
        width: 650px;
    }
    .bb {
        padding-bottom: 20px;
        border-bottom: 3px solid white;
    }
    .redStar:after {
        content: "＊";
        color: red;
    }
    .areaColor, area {
        background-color: rgb(226, 226, 226);
    }
    button {
        width: 150px;
    }
    a, a:hover{ 
        text-decoration:none
    }
    .myGrid {
        margin: 10px 0 0 10px;
        width: 1900px;
        height: 580px;
        color: black;
    }
    .text-center {
        text-align: center;
    }
    .ui-grid-pager-panel {
        color: white;
    }
    input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    }
</style>
<body>
    <%-include ('loadingDiv') %>
    <div class="wrap">
        <div class="row g-3 col-6">
            <div class="flex">
                <div class="col-10 bb">
                    <label for="ytLink" class="form-label redStar">影片網址</label>
                    <input type="text" class="form-control" id="ytLink" placeholder="https://www.youtube.com/watch?v=xE1jI6vShSQ">
                </div>
                <div class="col-10 bb">
                    <label for="songTitle" class="form-label redStar">歌曲名稱</label>
                    <input type="text" class="form-control" id="songTitle" placeholder="最偉大的作品">
                </div>
                <div class="col-8 bb">
                    <label for="theme" class="form-label">戲劇/電影</label>
                    <input type="text" class="form-control" id="theme" placeholder="海洋天堂">
                </div>
                <div class="col-4 bb">
                    <label for="singerName" class="form-label redStar">歌手名稱</label>
                    <input type="text" class="form-control" id="singerName" placeholder="周杰倫">
                </div>
                <div class="col-2 bb">
                    <label for="gender" class="form-label redStar">種類</label>
                    <select id="gender" class="form-select">
                        <option>男</option>
                        <option>女</option>
                        <option>團體</option>
                    </select>
                </div>
                <div class="col-2 bb">
                    <label for="songLanguage" class="form-label redStar">語系</label>
                    <select id="songLanguage" class="form-select">
                    <option>華</option>
                    <option>台</option>
                    <option>韓</option>
                    <option>英</option>
                    <option>日</option>
                    <option>粵</option>
                    </select>
                </div>
                <!-- <div class="col-6 bb">
                    <label for="year" class="form-label">歌曲年份</label>
                    <input type="number" min="1900" max="2100" class="form-control" id="year" placeholder="2022" value="2022">
                </div> -->
            </div>

            <div class="flexTime">
                    <!-- 前奏 -->
                <div class="col-6">
                    <label for="introStart" class="form-label">前奏開始時間</label>
                    <input type="time" class="form-control col-6 areaColor" id="introStart" placeholder="">
                </div>
                <div class="col-6">
                    <label for="introEnd" class="form-label">前奏結束時間</label>
                    <input type="time" class="form-control col-6 areaColor" id="introEnd" placeholder="">
                </div>
                <!-- 主歌 -->
                <div class="col-6">
                    <label for="verseStart" class="form-label redStar">主歌開始時間</label>
                    <input type="time" class="form-control col-6" id="verseStart" placeholder="">
                </div>
                <div class="col-6">
                    <label for="verseEnd" class="form-label redStar">主歌結束時間</label>
                    <input type="time" class="form-control col-6" id="verseEnd" placeholder="">
                </div>
                <!-- 導歌 -->
                <div class="col-6">
                    <label for="preChorusStart" class="form-label">導歌開始時間</label>
                    <input type="time" class="form-control col-6 areaColor" id="preChorusStart" placeholder="">
                </div>
                <div class="col-6">
                    <label for="preChorusEnd" class="form-label">導歌結束時間</label>
                    <input type="time" class="form-control col-6 areaColor" id="preChorusEnd" placeholder="">
                </div>
                <!-- 副歌 -->
                <div class="col-6">
                    <label for="chorusStart" class="form-label redStar">副歌開始時間</label>
                    <input type="time" class="form-control col-6" id="chorusStart" placeholder="">
                </div>
                <div class="col-6">
                    <label for="chorusEnd" class="form-label redStar">副歌結束時間</label>
                    <input type="time" class="form-control col-6" id="chorusEnd" placeholder="">
                </div>
                <!-- 橋梁 -->
                <div class="col-6">
                    <label for="bridgeStart" class="form-label">Bridge開始時間</label>
                    <input type="time" class="form-control col-6 areaColor" id="bridgeStart" placeholder="">
                </div>
                <div class="col-6">
                    <label for="bridgeEnd" class="form-label">Bridge結束時間</label>
                    <input type="time" class="form-control col-6 areaColor" id="bridgeEnd" placeholder="">
                </div>
                <!-- 尾奏 -->
                <div class="col-6">
                    <label for="outroStart" class="form-label">尾奏開始時間</label>
                    <input type="time" class="form-control col-6" id="outroStart" placeholder="">
                </div>
                <div class="col-6">
                    <label for="outroEnd" class="form-label">尾奏結束時間</label>
                    <input type="time" class="form-control col-6" id="outroEnd" placeholder="">
                </div>
            </div>
        </div>
        <div class="flex" style="margin: 20px 0;">
            <div style="margin-left: 10px;">
                <label for="ytID" class="form-label">YoutubeID</label>
                <input type="text" id="ytID" placeholder="LRZVjXje1Hk">
                <button type="button" class="btn btn-success" style="width: 100px;" onclick='audition("intro")'>前奏</button>
                <button type="button" class="btn btn-success" style="width: 100px;" onclick='audition("verse")'>主歌</button>
                <button type="button" class="btn btn-success" style="width: 100px;" onclick='audition("preChorus")'>導歌</button>
                <button type="button" class="btn btn-success" style="width: 100px;" onclick='audition("chorus")'>副歌</button>
                <button type="button" class="btn btn-success" style="width: 100px;" onclick='audition("bridge")'>Bridge</button>
                <button type="button" class="btn btn-success" style="width: 100px;" onclick='audition("outro")'>尾奏</button>
                <button type="button" class="btn btn-danger" style="width: 150px; margin-left: 20px;" onclick="auditionDel()">刪除試聽歌曲</button>
            </div>
            <div>
                <button type="button" class="btn btn-primary" onclick="createSong()">送出並試聽</button>
                <button type="reset" class="btn btn-danger">清除輸入資料</button>
            </div>
        </div>
        <!-- AngularJS Div-->
        <div class="col-6" id="controller" ng-app="myApp" ng-controller="Ctrl" ng-init="init()"
        ui-i18n="{{lang}}" class="row">
        <!-- Grid -->
        <div class="myGrid" ui-grid="gridOptions" ui-grid-selection  ui-grid-move-columns ui-grid-pagination
            ui-grid-resize-columns ui-grid-pinning></div>
        <!-- Grid End-->
        </div>
        <!-- AngularJS Div End-->
    </div>
    <div class="player"></div>
</body>
<script>
    const app = angular.module("myApp", ['ui.grid', 'ui.grid.selection', 'ui.grid.resizeColumns', 'ui.grid.autoResize', 
    'ui.grid.moveColumns', "ui.grid.pagination", 'ui.grid.pinning']);
    // , 'ngTouch', 'ngAria', 'ngMaterial', 'ngMessages', 'ngAnimate'

    app.controller("Ctrl", function ($scope, $http, $filter, uiGridConstants) {
        $scope.lang = 'zh-tw';
        
        $scope.gridOptions = {
            paginationPageSizes: [10, 25, 50, 75],
            paginationPageSize: 15,
            enableSorting: true, // 排序
            enableFiltering: true, // 篩選
            enableGridMenu: true, // Grid選單選項
            enableColumnResizing: true, // 調整欄位大小
            enablePinning: true, // 固定最左或最右
            enableRowSelection: true, // Row能否被勾選
            enableRowHeaderSelection: false, // 點Row就選整條
            multiSelect: false, // 多選
            noUnselect: true, // 能否不選
            minimumColumnSize: 100, // 欄位最小寬度
            data: [],
            columnDefs: [
                {
                    field: 'songTitle',
                    displayName: '歌曲名稱',
                    // pinnedLeft: true,
                    headerCellClass: 'text-center',
                    cellTemplate:
                    `<div class="ui-grid-cell-contents">
                        <a href="{{row.entity.ytLink}}" target="_blank">{{COL_FIELD}}</a>
                    </div>`
                },
                {
                    field: 'theme',
                    displayName: '戲劇/電影',
                    headerCellClass: 'text-center'
                },
                {
                    field: 'singerName',
                    displayName: '歌手',
                    headerCellClass: 'text-center',
                    width: 120
                },
                {
                    field: 'gender',
                    displayName: '種類',
                    headerCellClass: 'text-center',
                    width: 85,
                    cellClass: 'text-center'
                },
                {
                    field: 'songLanguage',
                    displayName: '語系',
                    headerCellClass: 'text-center',
                    width: 85,
                    cellClass: 'text-center'
                },
                {
                    field: 'intro',
                    displayName: '前奏',
                    headerCellClass: 'text-center',
                    width: 150,
                    cellTemplate:
                    `<div class="ui-grid-cell-contents gridFlex">
                        <span style="color: green;">{{COL_FIELD.begin}}</span>
                        <span style="color: red;">{{COL_FIELD.end}}</span>
                    </div>`
                },
                {
                    field: 'verse',
                    displayName: '主歌',
                    headerCellClass: 'text-center',
                    width: 150,
                    cellTemplate:
                    `<div class="ui-grid-cell-contents gridFlex">
                        <span style="color: green;">{{COL_FIELD.begin}}</span>
                        <span style="color: red;">{{COL_FIELD.end}}</span>
                    </div>`
                },
                {
                    field: 'preChorus',
                    displayName: '導歌',
                    headerCellClass: 'text-center',
                    width: 150,
                    cellTemplate:
                    `<div class="ui-grid-cell-contents gridFlex">
                        <span style="color: green;">{{COL_FIELD.begin}}</span>
                        <span style="color: red;">{{COL_FIELD.end}}</span>
                    </div>`
                },
                {
                    field: 'chorus',
                    displayName: '副歌',
                    headerCellClass: 'text-center',
                    width: 150,
                    cellTemplate:
                    `<div class="ui-grid-cell-contents gridFlex">
                        <span style="color: green;">{{COL_FIELD.begin}}</span>
                        <span style="color: red;">{{COL_FIELD.end}}</span>
                    </div>`
                },
                {
                    field: 'bridge',
                    displayName: 'Bridge',
                    headerCellClass: 'text-center',
                    width: 150,
                    cellTemplate:
                    `<div class="ui-grid-cell-contents gridFlex">
                        <span style="color: green;">{{COL_FIELD.begin}}</span>
                        <span style="color: red;">{{COL_FIELD.end}}</span>
                    </div>`
                },
                {
                    field: 'outro',
                    displayName: '尾奏',
                    headerCellClass: 'text-center',
                    width: 150,
                    cellTemplate:
                    `<div class="ui-grid-cell-contents gridFlex">
                        <span style="color: green;">{{COL_FIELD.begin}}</span>
                        <span style="color: red;">{{COL_FIELD.end}}</span>
                    </div>`
                },
                // {
                //     field: 'tradevoume',
                //     displayName: '成交張數',
                //     type: 'number',
                //     cellFilter: 'number: 0',
                //     filters: [{
                //             condition: uiGridConstants.filter.GREATER_THAN,
                //             placeholder: '最低'
                //         },
                //         {
                //             condition: uiGridConstants.filter.LESS_THAN,
                //             placeholder: '最高'
                //         }
                //     ]
                // },
                
            ],
                onRegisterApi: function(gridApi){ $scope.UIgridApi = gridApi;}
        };
        $scope.init = function () {
            axios.get("http://192.168.10.20:3000/song").then(res => {
                $scope.gridOptions.data = res.data.data;
                $scope.UIgridApi.core.refresh(); // 重整Grid資料
                console.log($scope.gridOptions.data);
            });
        };
    });

    // 取所有input及select的values
    function getVal() {
        const getVal = {};
        const $inputs = $(".form-control,.form-select");
        $inputs.each(function (index) {
            if (this.value && this.value !== "") {
                if (this.id.includes("Start")) {
                    getVal[this.id.split("Start")[0]] = {
                        begin: this.value
                    };
                } else if (this.id.includes("End")) {
                    const paragraphKey = this.id.split("End")[0];
                    if (!getVal[paragraphKey]) {
                        return alert("要輸入開始時間啦！");
                    }
                    getVal[paragraphKey].end = this.value;
                } else {
                    getVal[this.id] = this.value;
                }
            }
        });
        return getVal;
    }

    // 檢查YT網址
    $("#ytLink").blur(async function() {
        if ($("#ytLink").val()) {
            await axios.post("http://192.168.10.20:3000/song/read", {
            ytLink: $('#ytLink').val()
            }).then(res => {
                if (res.data.code !== 0 && $('#ytLink').val()) {
                    return alert(res.data.msg)
                }
        });
        }
    });

    // 檢查歌手名稱+歌曲名稱
    $("#singerName, #songTitle").blur(async function() {
        if ($("#singerName").val() && $("#songTitle").val()) {
            await axios.get("http://192.168.10.20:3000/song/read", {
                params: {
                    singerName: $("#singerName").val(),
                    songTitle: $("#songTitle").val()
                }
            }).then(res => {
                if (res.data.code !== 0 && $("#singerName, #songTitle").val()) {
                    $("#singerName, #songTitle").val("")
                    return alert(res.data.msg)
                }
            });
        }
    });
    
    // 送出資料拿ytID
    async function createSong() {
        loading_div_open()
        let songVal = await getVal();
        if (!songVal.ytLink || !songVal.songTitle || !songVal.singerName || !songVal.gender || !songVal.songLanguage || 
            !songVal.verse || !songVal.chorus) {
            loading_div_close()
            return alert("有必填欄位沒填哦！")
        } else {
            await axios.post("http://192.168.10.20:3000/song",
                songVal
            ).then(res => {
                if (res.data.code === 0) {
                    $("#ytID").val(res.data.data)
                } else {
                    return alert(res.data.msg)
                }
            });
        }
        loading_div_close()
    };

    // 取ytID刪除暫存檔
    async function auditionDel() {
        let ytID = $("#ytID").val();
        if (confirm("確定要刪除嗎？")) {
            if (!ytID) {
            return alert("未輸入YoutubeID，無法刪除")
            } else {
                await axios.delete("http://192.168.10.20:3000/song", {
                    params: {
                        ytID: ytID
                    }
                }).then(res => {
                    if (res.data.code === 0) {
                        $("#ytID").val("")
                        return alert("刪除成功！")
                    } else {
                        return alert(res.data.msg)
                    }
                })
            }
        }
    }

    // 試聽
    function audition(type) {
        let paragraph = type;
        let ytID = $("#ytID").val();
        const audioURL = `http://192.168.10.20:3000/song/sample?ytID=${ytID}&paragraph=${paragraph}&fileFormat=mp3`
        //$("#audioURL").text(audioURL)
        let html = `
        <audio controls autoplay>
            <source src="${audioURL}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>`
        $("audio").remove();
        $(".player").append(html)
    }
</script>
<!-- <script src="../public/js/uiGrid.js" type="text/javascript"></script> -->
</html>