<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout') %>
</head>
<style>
    body {
        background-image: url('/images/bg.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-color: black;
        color: white;
        font-family: Microsoft JhengHei;
        font-weight: 1000;
    }
    .flex {
        display: flex;
        justify-content: space-between;
        margin-left: 7px;
    }
    .flexTime {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 150px;
        margin-left: 7px;
    }
    .gridFlex {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
    }
    .row {
        width: 650px;
    }
    .bb {
        padding-bottom: 20px;
        border-bottom: 3px solid white;
    }
    .redStar:after {
        content: "＊";
        color: red;
    }
    .areaColor, area {
        background-color: rgb(226, 226, 226);
    }
    button {
        width: 150px;
    }
    a, a:hover{ 
        text-decoration:none
    }
    .myGrid {
        margin: 10px 0 0 10px;
        width: 1900px;
        height: 580px;
        color: black;
    }
    .text-center {
        text-align: center;
    }
    .ui-grid-pager-panel {
        color: white;
    }
    input[type="time"]::-webkit-calendar-picker-indicator {
        display: none;
    }
    input[type="time"]::-webkit-datetime-edit-ampm-field {
        display: none;
    }

</style>
<body>
    <%-include ('loadingDiv') %>
    <%-include ('auditionModal') %>
    <div class="wrap">
        <div class="row g-3 col-6">
            <div class="flex">
                <div class="col-10 bb">
                    <label for="ytLink" class="form-label redStar">影片網址</label>
                    <input type="text" class="form-control" id="ytLink" placeholder="https://www.youtube.com/watch?v=xE1jI6vShSQ">
                </div>
                <div class="col-10 bb">
                    <label for="songTitle" class="form-label redStar">歌曲名稱</label>
                    <input type="text" class="form-control" id="songTitle" placeholder="最偉大的作品">
                </div>
                <div class="col-8 bb">
                    <label for="theme" class="form-label">戲劇/電影</label>
                    <input type="text" class="form-control" id="theme" placeholder="海洋天堂">
                </div>
                <div class="col-4 bb">
                    <label for="singerName" class="form-label redStar">歌手名稱</label>
                    <input type="text" class="form-control" id="singerName" placeholder="周杰倫">
                </div>
                <div class="col-2 bb">
                    <label for="gender" class="form-label redStar">種類</label>
                    <select id="gender" class="form-select">
                        <option></option>
                        <option>男</option>
                        <option>女</option>
                        <option>團體</option>
                    </select>
                </div>
                <div class="col-2 bb">
                    <label for="songLanguage" class="form-label redStar">語系</label>
                    <select id="songLanguage" class="form-select">
                    <option></option>
                    <option>華</option>
                    <option>台</option>
                    <option>韓</option>
                    <option>英</option>
                    <option>日</option>
                    <option>粵</option>
                    </select>
                </div>
                <!-- <div class="col-6 bb">
                    <label for="year" class="form-label">歌曲年份</label>
                    <input type="number" min="1900" max="2100" class="form-control" id="year" placeholder="2022" value="2022">
                </div> -->
            </div>

            <div class="flexTime">
                    <!-- 前奏 -->
                <div class="col-6">
                    <label for="introStart" class="form-label">前奏開始時間</label>
                    <input type="time" class="form-control col-6 areaColor" id="introStart" placeholder="">
                </div>
                <div class="col-6">
                    <label for="introEnd" class="form-label">前奏結束時間</label>
                    <input type="time" class="form-control col-6 areaColor" id="introEnd" placeholder="">
                </div>
                <!-- 主歌 -->
                <div class="col-6">
                    <label for="verseStart" class="form-label redStar">主歌開始時間</label>
                    <input type="time" class="form-control col-6" id="verseStart" placeholder="">
                </div>
                <div class="col-6">
                    <label for="verseEnd" class="form-label redStar">主歌結束時間</label>
                    <input type="time" class="form-control col-6" id="verseEnd" placeholder="">
                </div>
                <!-- 導歌 -->
                <div class="col-6">
                    <label for="preChorusStart" class="form-label">導歌開始時間</label>
                    <input type="time" class="form-control col-6 areaColor" id="preChorusStart" placeholder="">
                </div>
                <div class="col-6">
                    <label for="preChorusEnd" class="form-label">導歌結束時間</label>
                    <input type="time" class="form-control col-6 areaColor" id="preChorusEnd" placeholder="">
                </div>
                <!-- 副歌 -->
                <div class="col-6">
                    <label for="chorusStart" class="form-label redStar">副歌開始時間</label>
                    <input type="time" class="form-control col-6" id="chorusStart" placeholder="">
                </div>
                <div class="col-6">
                    <label for="chorusEnd" class="form-label redStar">副歌結束時間</label>
                    <input type="time" class="form-control col-6" id="chorusEnd" placeholder="">
                </div>
                <!-- 橋梁 -->
                <div class="col-6">
                    <label for="bridgeStart" class="form-label">Bridge開始時間</label>
                    <input type="time" class="form-control col-6 areaColor" id="bridgeStart" placeholder="">
                </div>
                <div class="col-6">
                    <label for="bridgeEnd" class="form-label">Bridge結束時間</label>
                    <input type="time" class="form-control col-6 areaColor" id="bridgeEnd" placeholder="">
                </div>
                <!-- 尾奏 -->
                <div class="col-6">
                    <label for="outroStart" class="form-label">尾奏開始時間</label>
                    <input type="time" class="form-control col-6" id="outroStart" placeholder="">
                </div>
                <div class="col-6">
                    <label for="outroEnd" class="form-label">尾奏結束時間</label>
                    <input type="time" class="form-control col-6" id="outroEnd" placeholder="">
                </div>
            </div>
        </div>
        <div class="flex" style="margin: 20px 0;">
            <div style="margin-left: 10px;">
                <input type="text" id="ytID" style="display: none;">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="display: none;" id="auditionBtn">
                    試聽
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-info" onclick="testValues()">測試資料</button>
                <button type="button" class="btn btn-primary" onclick="createSong()">送出並試聽</button>
                <button type="reset" class="btn btn-danger" onclick='$(".form-control,.form-select").val("")'>清除輸入資料</button>
            </div>
        </div>
        <!-- AngularJS Div-->
        <div class="col-6" id="controller" ng-app="myApp" ng-controller="Ctrl" ng-init="init()"
        ui-i18n="{{lang}}" class="row">
        <!-- Grid -->
        <div class="myGrid" ui-grid="gridOptions" ui-grid-selection  ui-grid-move-columns ui-grid-pagination
            ui-grid-resize-columns ui-grid-pinning></div>
        <!-- Grid End-->
        </div>
        <!-- AngularJS Div End-->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
<script>
    const app = angular.module("myApp", ['ui.grid', 'ui.grid.selection', 'ui.grid.resizeColumns', 'ui.grid.autoResize', 
    'ui.grid.moveColumns', "ui.grid.pagination", 'ui.grid.pinning']);
    // , 'ngTouch', 'ngAria', 'ngMaterial', 'ngMessages', 'ngAnimate'

    app.controller("Ctrl", function ($scope, $http, $filter, uiGridConstants) {
        $scope.lang = 'zh-tw';
        
        $scope.gridOptions = {
            paginationPageSizes: [10, 25, 50, 75],
            paginationPageSize: 15,
            enableSorting: true, // 排序
            enableFiltering: true, // 篩選
            enableGridMenu: true, // Grid選單選項
            enableColumnResizing: true, // 調整欄位大小
            enablePinning: true, // 固定最左或最右
            enableRowSelection: true, // Row能否被勾選
            enableRowHeaderSelection: false, // 點Row就選整條
            multiSelect: false, // 多選
            noUnselect: true, // 能否不選
            minimumColumnSize: 100, // 欄位最小寬度
            data: [],
            columnDefs: [
                {
                    field: 'songTitle',
                    displayName: '歌曲名稱',
                    // pinnedLeft: true,
                    headerCellClass: 'text-center',
                    cellTemplate:
                    `<div class="ui-grid-cell-contents">
                        <a href="{{row.entity.ytLink}}" target="_blank">{{COL_FIELD}}</a>
                    </div>`
                },
                {
                    field: 'theme',
                    displayName: '戲劇/電影',
                    headerCellClass: 'text-center'
                },
                {
                    field: 'singerName',
                    displayName: '歌手',
                    headerCellClass: 'text-center',
                    width: 120
                },
                {
                    field: 'gender',
                    displayName: '種類',
                    headerCellClass: 'text-center',
                    width: 85,
                    cellClass: 'text-center'
                },
                {
                    field: 'songLanguage',
                    displayName: '語系',
                    headerCellClass: 'text-center',
                    width: 85,
                    cellClass: 'text-center'
                },
                {
                    field: 'intro',
                    displayName: '前奏',
                    headerCellClass: 'text-center',
                    width: 150,
                    cellTemplate:
                    `<div class="ui-grid-cell-contents gridFlex">
                        <span style="color: green;">{{COL_FIELD.begin}}</span>
                        <span style="color: red;">{{COL_FIELD.end}}</span>
                    </div>`
                },
                {
                    field: 'verse',
                    displayName: '主歌',
                    headerCellClass: 'text-center',
                    width: 150,
                    cellTemplate:
                    `<div class="ui-grid-cell-contents gridFlex">
                        <span style="color: green;">{{COL_FIELD.begin}}</span>
                        <span style="color: red;">{{COL_FIELD.end}}</span>
                    </div>`
                },
                {
                    field: 'preChorus',
                    displayName: '導歌',
                    headerCellClass: 'text-center',
                    width: 150,
                    cellTemplate:
                    `<div class="ui-grid-cell-contents gridFlex">
                        <span style="color: green;">{{COL_FIELD.begin}}</span>
                        <span style="color: red;">{{COL_FIELD.end}}</span>
                    </div>`
                },
                {
                    field: 'chorus',
                    displayName: '副歌',
                    headerCellClass: 'text-center',
                    width: 150,
                    cellTemplate:
                    `<div class="ui-grid-cell-contents gridFlex">
                        <span style="color: green;">{{COL_FIELD.begin}}</span>
                        <span style="color: red;">{{COL_FIELD.end}}</span>
                    </div>`
                },
                {
                    field: 'bridge',
                    displayName: 'Bridge',
                    headerCellClass: 'text-center',
                    width: 150,
                    cellTemplate:
                    `<div class="ui-grid-cell-contents gridFlex">
                        <span style="color: green;">{{COL_FIELD.begin}}</span>
                        <span style="color: red;">{{COL_FIELD.end}}</span>
                    </div>`
                },
                {
                    field: 'outro',
                    displayName: '尾奏',
                    headerCellClass: 'text-center',
                    width: 150,
                    cellTemplate:
                    `<div class="ui-grid-cell-contents gridFlex">
                        <span style="color: green;">{{COL_FIELD.begin}}</span>
                        <span style="color: red;">{{COL_FIELD.end}}</span>
                    </div>`
                },
                {
                    field: '_id',
                    displayName: '刪除歌曲',
                    headerCellClass: 'text-center',
                    width: 120,
                    cellClass: 'text-center',
                    cellTemplate:
                    `<button type="button" class="btn btn-danger" ng-click="grid.appScope.applyDeleteSong('{{row.entity._id}}')" style="width: 100px; height: 30px">刪除</button>`
                },
                // {
                //     field: 'tradevoume',
                //     displayName: '成交張數',
                //     type: 'number',
                //     cellFilter: 'number: 0',
                //     filters: [{
                //             condition: uiGridConstants.filter.GREATER_THAN,
                //             placeholder: '最低'
                //         },
                //         {
                //             condition: uiGridConstants.filter.LESS_THAN,
                //             placeholder: '最高'
                //         }
                //     ]
                // },
                
            ],
                onRegisterApi: function(gridApi){ 
                    $scope.UIgridApi = gridApi;
                }
        };
        $scope.init = function () {
            axios.get("http://192.168.10.20:3000/song").then(res => {
                $scope.gridOptions.data = res.data.data;
                $scope.UIgridApi.core.refresh(); // 重整Grid資料
                console.log($scope.gridOptions.data);
            });
        };

        $scope.applyDeleteSong = function (_id) {
            console.log(_id);
            if (confirm("刪除後無法復原，確定要刪除嗎？")) {
                axios.delete("http://192.168.10.20:3000/song/apply", {
                    params: {
                        _id: _id
                    }
                }).then(res => {
                    if (res.data.code === 0) {
                        window.location.refresh();
                        return alert("刪除成功！")
                    } else {
                        console.log(res);
                        return alert(res.data.msg)
                    }
                })
            } else {
                return alert("不刪還按，調皮(◔⊖◔)つ")
            }
        }
    });

    // 取所有input及select的values
    function getVal() {
        const getVal = {};
        const $inputs = $(".form-control,.form-select");
        console.log($inputs);
        $inputs.each(function (index) {
            if (this.value && this.value !== "") {
                if (this.id.includes("Start")) {
                    getVal[this.id.split("Start")[0]] = {
                        begin: this.value
                    };
                } else if (this.id.includes("End")) {
                    const paragraphKey = this.id.split("End")[0];
                    if (!getVal[paragraphKey]) {
                        return alert("要輸入開始時間啦！");
                    }
                    getVal[paragraphKey].end = this.value;
                } else {
                    getVal[this.id] = this.value;
                }
            }
        });
        return getVal;
    }

    // 檢查YT網址
    $("#ytLink").blur(async function() {
        if ($("#ytLink").val()) {
            await axios.post("http://192.168.10.20:3000/song/read", {
            ytLink: $('#ytLink').val()
            }).then(res => {
                if (res.data.code !== 0 && $('#ytLink').val()) {
                    return alert(res.data.msg)
                }
        });
        }
    });

    // 檢查歌手名稱+歌曲名稱
    $("#singerName, #songTitle").blur(async function() {
        if ($("#singerName").val() && $("#songTitle").val()) {
            await axios.get("http://192.168.10.20:3000/song/read", {
                params: {
                    singerName: $("#singerName").val(),
                    songTitle: $("#songTitle").val()
                }
            }).then(res => {
                if (res.data.code !== 0 && $("#singerName, #songTitle").val()) {
                    $("#singerName, #songTitle").val("")
                    return alert(res.data.msg)
                }
            });
        }
    });
    
    // 送出資料拿ytID
    async function createSong() {
        loading_div_open()
        let songVal = await getVal();
        if (!songVal.ytLink || !songVal.songTitle || !songVal.singerName || !songVal.gender || !songVal.songLanguage || 
            !songVal.verse || !songVal.chorus) {
            loading_div_close()
            return alert("有必填欄位沒填哦！")
        } else {
            await axios.post("http://192.168.10.20:3000/song",
                songVal
            ).then(res => {
                if (res.data.code === 0) {
                    $("#ytID").val(res.data.data);
                    $("#staticBackdrop").modal("show");
                    $("#auditionBtn").show();
                    $(".modal-title").append(songVal.songTitle);
                    songVal.intro ? $(".btnIntro").removeAttr("disabled") : $(".btnIntro").attr("disabled");
                    songVal.verse ? $(".btnVerse").removeAttr("disabled") : $(".btnVerse").attr("disabled");
                    songVal.preChorus ? $(".btnPreChorus").removeAttr("disabled") : $(".btnPreChorus").attr("disabled");
                    songVal.chorus ? $(".btnChorus").removeAttr("disabled") : $(".btnChorus").attr("disabled");
                    songVal.bridge ? $(".btnBridge").removeAttr("disabled") : $(".btnBridge").attr("disabled");
                    songVal.outro ? $(".btnOutro").removeAttr("disabled") : $(".btnOutro").attr("disabled");
                } else {
                    return alert(res.data.msg)
                }
            });
        }
        loading_div_close()
    };

    // 取ytID刪除暫存檔
    async function auditionDelete() {
        let ytID = $("#ytID").val();
        if (confirm("確定要刪除嗎？")) {
            if (!ytID) {
            return alert("未輸入YoutubeID，無法刪除")
            } else {
                await axios.delete("http://192.168.10.20:3000/song", {
                    params: {
                        ytID: ytID
                    }
                }).then(res => {
                    if (res.data.code === 0) {
                        $("#ytID").val("")
                        $("#staticBackdrop").modal("hide");
                        $("#auditionBtn").hide();
                        $('audio').remove()
                        return alert("刪除成功！")
                    } else {
                        return alert(res.data.msg)
                    }
                })
            }
        }
    }

    // 試聽
    function audition(type) {
        let paragraph = type;
        let ytID = $("#ytID").val();
        const audioURL = `http://192.168.10.20:3000/song/sample?ytID=${ytID}&paragraph=${paragraph}&fileFormat=mp3`
        //$("#audioURL").text(audioURL)
        let html = `
        <audio controls autoplay>
            <source src="${audioURL}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>`
        $("audio").remove();
        $(".player").append(html)
    }

    // 將試聽後歌曲送入DB
    async function applyAddSong() {
        if (!$("#ytID").val()) {
            return alert("此試聽歌曲沒有在暫存列表中哦！")
        } else {
            await axios.post("http://192.168.10.20:3000/song/apply", {
                ytID: $("#ytID").val()
            }).then(res => {
                console.log(res);
                if (res.data.code === 0) {
                    window.location.reload();
                    return alert("正式歌曲新增成功！")
                } else {
                    return alert(res.data.msg)
                }
            })
        }
    }

    // 測試資料
    function testValues() {
        $("#ytLink").val("https://www.youtube.com/watch?v=LRZVjXje1Hk");
        $("#songTitle").val("閣愛妳一擺");
        $("#singerName").val("茄子蛋");
        $("#gender").val("團體");
        $("#songLanguage").val("台");
        $("#introStart").val("00:00");
        $("#introEnd").val("00:35");
        $("#verseStart").val("00:36");
        $("#verseEnd").val("01:04");
        $("#preChorusStart").val("01:05");
        $("#preChorusEnd").val("01:21");
        $("#chorusStart").val("01:22");
        $("#chorusEnd").val("01:49");
        $("#outroStart").val("03:49");
        $("#outroEnd").val("04:36");
    }
</script>
</html>